@mixin setup {
    width: 1512px;
    height: 982px;
    display: flow-root;
    .profile-bar {
      width: 1512px;
      height: 117px;
  
      background: #ffffff;
      border-bottom: 1px solid #f2f3f7;
  
      .logo-box {
        padding: 0px;
        width: 242.07px;
        height: 30px;
        margin-left: 38px;
        margin-top: 44px;
        margin-bottom: 43px;
        display: inline-block;
  
        .logo {
          float: left;
          margin-right: 9px;
          img {
            height: 21.4px;
            width: 21.4px;
          }
        }
        .iweb {
          float: left;
          margin-right: 10px;
          padding-top: 2px;
          img {
            height: 16px;
            width: 115px;
          }
        }
        .vertical {
          float: left;
          margin-right: 10px;
          width: 0px;
          height: 30px;
  
          border: 0.5px solid rgba(181, 181, 183, 0.5);
        }
        .emp-box {
          float: left;
  
          background: rgba(255, 186, 95, 0.1);
          border-radius: 2px;
          width: 75.07px;
          height: 24.04px;
          font-family: "Google Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 8px;
          line-height: 10px;
          letter-spacing: 0.1em;
          margin-top: 3px;
  
          color: #f99e24;
          .text {
            width: 47px;
            height: 10px;
            padding: 7.02px 14.04px;
          }
        }
      }
      .photo-box {
        float: right;
  
        margin-left: 1139.93px;
        margin-top: 31px;
        margin-right: 38px;
        margin-bottom: 32px;
  
        width: 54px;
        height: 54px;
      }
    }
    .main-page {
      display: inline-block;
      height: 865px;
      width: 1512px;
      .sidebar {
        float: left;
        width: 104px;
        height: 865px;
  
        padding-top: 60px;
        background: #ffffff;
        border-right: 1px solid #f2f3f7;
        .menu-box {
          width: 32px;
          height: 432px;
          margin-left: 37px;
          margin-bottom: 373px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 48px;
        }
      }
      .main-section {
        width: 1408px;
        height: 865px;
        margin-left: 105px;
    }
}
}