@import "mixins.scss";
.container {
  @include setup;
  .header-bar {
    margin-top: 43px;
    margin-left: 32px;
    width: 1312px;
    height: 79px;
    display: inline-block;
    .emp-box {
      float: left;
      width: 416px;
      height: 79px;
      margin-right: 615px;
      .employee {
        width: 183px;
        height: 51px;

        font-family: "Google Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;

        color: #000000;
      }
      .fill-form {
        width: 248px;
        height: 20px;

        font-family: "Google Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #b58392;
      }
    }
    .create-emp {
      float: right;
      width: 281px;
      height: 57px;
      .text {
        width: 207px;
        height: 25px;
        float: left;
        font-family: "Google Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #f99e24;
        padding-left: 24px;
        padding-top: 16px;
        margin-right: 5px;
      }
      .add {
        padding-top: 16.5px;
      }
    }
  }
  .pages-link {
    margin-top: 48px;
    margin-left: 32px;
    display: inline-block;
    width: 1312px;
    height: 65px;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #b58392;
    .all {
      float: left;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 60px;
      padding-left: 48px;
    }
    .dev {
      float: left;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 60px;
      padding-left: 28px;
    }
    .des {
      @extend .dev;
    }
    .admin {
      @extend .dev;
    }
    .manag {
      width: 152px;
      height: 25px;
      @extend .dev;
    }
    .oth {
      @extend .dev;
    }
  }
  .all-profiles {
    display: none;
  }
  .dev-profiles {
    display: none;
    grid-template-columns: auto auto auto auto;;
    grid-gap: 42px 32px;
    margin-left: 32px;
    margin-top: 46px;
    .block {
      width: 416px;
      height: 158px;
      border: 1px solid #b5b5b7;
      border-radius: 6px;
      font-family: "Google Sans";
      font-style: normal;
      display: inline-block;
      .profile-pic {
        float: left;
        width: 110px;
        height: 110px;
        margin-right: 32px;
        margin-top: 24px;
        margin-left: 24px;
      }
      .text-box {
        float: left;
        margin-top: 38.5px;
        width: 214px;
        height: 81px;
        .name {
          font-weight: 500;
          font-size: 24px;
        }
        .designation {
          font-weight: 400;
          font-size: 16px;
          color: #b5b5b7;
          margin-bottom: 8px;
        }
        .id {
          font-weight: 400;
          font-size: 14px;
          color: #f99e24;
        }
      }
    }
  }
  .des-profiles {
    display: none;
  }
  .admin-profiles {
    display: none;
  }
  .manage-profiles {
    display: none;
  }
  .other-profiles {
    display: none;
  }
}
